/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
!/tmp/storage/
/tmp/storage/*
!/tmp/storage/.keep
/storage/*
!/storage/.keep
/config/master.key
/.kamal/secrets
/.env*
/db/*.sqlite3
/db/*.sqlite3-*
/node_modules
/vendor/bundle
